.body {
    height: 100%;
    max-width: 100%;
    background-image: url(accueil.jpg);
    background-size: cover;
    background-color: orange;
    opacity: 0.6;
}

.form {
    height: 700px;
    margin-left: 200px;
    margin-right: 60px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}