.navigation {
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    height: 100%;
    max-height: 100%;
    width: 200px;
    display: flex;
    /*pour aligner les éléments*/
    justify-content: space-around;
    padding: 50px;
    /*0.2rem calc((100vw - 1000px) / 2);*/
    z-index: 12;
    
}

.navigation h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 6px;
    display: flex;
    justify-content: center;
    

}

.navigation a {

    text-decoration: none;

}

.navigation li {
    height: 3px;
    display: flex;
    color: white;
    height: 12px;
    margin-top: 9%;
    justify-content: center;
    text-decoration: none !important;

   
}
li:hover {
    color: rgba(223, 147, 59);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), 0 0 1em rgba(223, 147, 59), 0 0 0.2em rgba(223, 147, 59);
    width: 100%;
}
.navigation ul {
    justify-content: space-between;
    font-weight: 600;
   
}

.navigation .menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    left: 50px;
    ;
    top: 50px;
}

/*responsive mode*/
@media screen and (max-width: 900px) {
    .navigation .menu-hamburger {
        display: block;
    }

    .navigation {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0, 20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


    }



    .navigation ul li {

        margin: 25px 0;
        /*25pixels en haut et 0 sur les côtés*/
        font-size: 1.4em;
    }


}

#box {

    border: solid;
    border-width: 1px;
    border-color: azure;
    max-width: 100px;
    margin-left: 3%;
    box-shadow: 10px 10px 5em;

}

#admin {

    display: flex;
    justify-content: space-between;
    


}
