.widget1 {

    /*background: linear-gradient(to right, rgba(155, 156, 149, 0.74), rgba(196, 197, 189, 0.74), transparent);*/
    background-color: rgb(63, 63, 66);
    width: 220px;
    height: 220px;
    text-align: center;
    /*box-shadow: 10px 10px 5em;*/
    margin-right: 10px;
    color: rgb(255, 255, 255);
    transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;

}

.widget1:hover {

    -ms-transform: scale(1) translate(10px);
    -webkit-transform: scale(1) translate(10px);
    transform: scale(1) translate(10px);

}

.widget6 {

    /*background: linear-gradient(to right, rgba(155, 156, 149, 0.74), rgba(196, 197, 189, 0.74), transparent);
    border: solid;
    
    border-radius: 5%;*/
    background-color: rgb(63, 63, 66);
    width: 650px;
    height: 350px;
    text-align: center;
    box-shadow: 10px 10px 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: width 0.4s, height 0.4s, background-color 0.4s, transform 0.4s;

}

.widget6:hover {

    -ms-transform: scale(1) translate(10px);
    -webkit-transform: scale(1) translate(10px);
    transform: scale(1) translate(10px);

}

.neon {

    color:  rgba(223, 147, 59) ;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), 0 0 1em rgba(223, 147, 59), 0 0 0.2em rgba(223, 147, 59);

}

#photo {

    height: 40px;
    
}

#logo {

    height: 60px;
    filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.8))
}