

.titre {

    position: absolute;
    margin-left: 50%;
    margin-top:10px;
    font-size: 35px;
    text-align:center;
    color: black;
}

.fondA {

    height: 950px;
    max-height: 100%;

    max-width: 100%;
    background: url(../components/accueil.jpg);
    
}