

.titre {

    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 80%;
    margin-top:10px;
    font-size: 35px;
    text-align:center;
    
}

.fondA {

    height: 950px;
    max-height: 100%;
    max-width: 100%;
    background: rgb(52, 52, 52);
    
    
}

.fondA h1 {

    color: white;

}