.fondC {

    height: 120%;
    max-width: 100%;
    background-color: bisque, 0.7;
    background: rgb(52, 52, 52);
    
}

.titre  {

    position: absolute;
    margin-left: 40%;
    font-size: 40px;
    color: white;
}

