.profil {

    display: flex;
    justify-content: space-around;
    background-color: brown;
}

.titre {

    position: absolute;
    margin-left: 30%;
    color: black;
}

.titre2 {
    position: absolute;
    margin-left: 35%;
    margin-top: 8%;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.style 