.profilmodif {

    display: flex;
    justify-content: space-around;
    background-color: brown;
}

.titre {

    position: absolute;
    margin-left: 30%;
    color: black;
}

.style {
    position: absolute;
    margin-left: 80%;
    margin-top: 6%;
    border: 0;
    line-height: 3;
    padding: 0 20px;
    font-size: 1 rem;
    text-align: center;
    color: white;
    border-radius: 10px;
background-color: rgb(220, 98, 57);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

}


#fondP {

    height: 950px;
    max-height: 100%;
    max-width: 100%;
    background-image: url(../components/accueil.jpg);
    background-color: bisque, 0.7;
    
}

#form2 {

    background-color: rgba(223, 147, 59, 0.8);
    max-width: 84%;
    margin-left: 18.06%;

}
  
.form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    margin-left: 35%;
    margin-top: 7%;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form_label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
  
.form_label {
    position: absolute;
    top: 0;
    margin-left: 10%;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }
  
  .form_field:focus {
    ~ .form_label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }
  /* reset input */
  .form_field{
    &:required,&:invalid { box-shadow:none; }
  }

/*#fondP label {
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
    color: black;
    font-size: 20px;

}*/




  