.profil {

    display: flex;
    justify-content: space-around;
    background-color: brown;
}

.titre {

    position: absolute;
    margin-left: 30%;
    font-size: 40px;
    text-align:center;
    color: black;
}

.titre2 {
    position: absolute;
    margin-left: 35%;
    margin-top: 8%;
    color: white;
    font-style: italic;
    font-size: 30px;
}

.style {
    position: absolute;
    margin-left: 80%;
    margin-top:40%;
    border: 0;
    line-height: 3;
    padding: 0 20px;
    font-size: 1 rem;
    text-align: center;
    color: white;
    border-radius: 10px;
background-color: rgb(220, 98, 57);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

}

#fondP {

    height: 800px;
    max-height: 100%;
    max-width: 100%;
    background-color: bisque, 0.7;
    background: rgb(52, 52, 52);
    
}

#fondP h1 {

    color: white
}
   


#form2 {

    background-color: rgba(223, 147, 59, 0.8);
    max-width: 84%;
    margin-left: 18.06%;

}

.usersDisplay {

    margin-left: 20%;
    padding-top: 10%;
}

.usersDisplay h1 {
    margin-top: 40px;
    font-family: 'Times New Roman';
    font-size: 30px;
    text-align:center;
    color: white;
}

.usersDisplay hr {
    border: none;
    margin-top: 40px;
    margin-left: 0px;
    box-shadow: 10px 10px 5em;
    border-top: 3px double white;
    color: white;
    overflow: visible;
    text-align: center;
    height: 5px;
}

